.navigationBar{
    margin: 0 auto;
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    h1{
        font-family: 'Great Vibes', cursive;
        font-size: 36px;
        letter-spacing: 5px;
        font-weight: 500;
        color: black;
        margin-left: 1.5em;
    }
    ul{
        display: flex;
        margin-right: 3em;
        li{
            display: flex;
            margin-left: 1.5em;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            a{
                font-size: 14px;
                color: black;
            }
            a::after{
                background-color: #000;
                border-bottom: solid black 1px;
                bottom: 0;
                content: "";
                display: flex;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                width: 0;
            }
            a:hover::after{
                width: 100%;
            }
        }
    }
}
.reserve{
    position: fixed;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
    top: 25%;
    right: 0;
    z-index: 1000;
    background-color: black;
    padding: 2em 0;
    transition: 0.3s;
    P{
        font-size: 14px;
        font-family: 'Noto Serif JP', serif;
        letter-spacing: 0.35em;
        a{
            color: white;
        }
    }
}
.reserve:hover{
    box-shadow: 0 0 16px gray;
    background-color: #666;
}
header{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    .headerContents{
        position: absolute;
        top: 50%;
        left: 10%;
        h2{
            letter-spacing: 6px;
            color: white;
            font-size: 22px;
            font-weight: 500;
            font-family: 'Noto Serif JP', serif;
        }
    }
    video{
        // display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 177.78vh;
        height: 56.25vw;
        z-index: -1;
    }
    .scrolldown2{
        position:absolute;
        bottom:10px;
        left:50%;
        span{
            position: absolute;
            left:10px;
            bottom:10px;
            color: #eee;
            font-size: 0.7rem;
            letter-spacing: 0.05em;
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
        }
    }
    .scrolldown2::before{
        content: "";
        position: absolute;
        bottom:0;
        left:-4px;
        width:10px;
        height:10px;
        border-radius: 50%;
        background:#eee;
        animation:
        circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-out infinite;
    }
    .scrolldown2::after{
        content:"";
        position: absolute;
        bottom:0;
        left:0;
        width:2px;
        height: 50px;
        background:#eee;
    }
}
@keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}
@keyframes cirlemovehide{
    0%{opacity:0}
    50%{opacity:1;}
    80%{opacity:0.9;}
    100%{opacity:0;}
}
.main{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    .mainBg1{
        background-image: url(../img/hygiene-870763_1920.jpg);
        margin: 0 auto;
        width: 70%;
        height: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 18%;
        left: 0;
        z-index: -1;
        // box-shadow: 0 0 16px rgb(139, 139, 139);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .mainContents{
        margin: 0 auto;
        width: 45%;
        height: auto;
        position: absolute;
        top: 55%;
        right: 0;
        background-color: #ffffff9f;
        backdrop-filter: blur(10px);
        .maintitle{
            margin: 0 auto;
            h2{
                margin-top: 3em;
                text-align: center;
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 2px;
                font-family: 'Noto Serif JP', serif;
                color: #333;
            }
        }
        .mainComment{
            margin: 0 auto;
            width: 55%;
            margin-top: 2em;
            p{
                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                font-family: 'Noto Serif JP', serif;
                line-height: 2.3em;
            }
        }
        .mainIntroduction{
            margin: 3em auto;
            p{
                text-align: center;
                font-size: 14px;
                font-family: 'Noto Serif JP', serif;
                a{
                    border: solid black 1px;
                    padding: 1em 3.5em;
                    transition: 0.5s;
                }
                a:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
#page-top{
    position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 1000;
	opacity: 0;
	transform: translateY(100px);
    a{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        display: flex;
        justify-content:center;
        align-items:center;
        background: black;
        width: 60px;
        height: 60px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size:0.6rem;
        transition:all 0.3s;
    }
	a:hover{
        box-shadow: 0 0 16px gray;
        background: #666;
    }
}
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}
.menuContents{
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 12em;
    h2{
        font-family: 'Great Vibes', cursive;
        font-size: 32px;
        text-align: center;
        margin: 1.5em auto;
        letter-spacing: 5px;
        font-weight: 500;
    }
    .slider{
        height: auto;
        width: 85%;
        margin: 0 auto;
        li{
            img{
            width: auto;
            height: 45vh;
            }
        }
    }
    .slider .slick-slide{
        transform: scale(0.7);
        transition: all .5s;
        opacity: 0.5;
    }

    .slider .slick-slide.slick-center{
        transform: scale(1);
        opacity: 1;
    }
    .slick-prev, 
    .slick-next{
        position: absolute;
        top: 42%;
        cursor: pointer;
        outline: none;
        border-top: 2px solid #666;
        border-right: 2px solid #666;
        height: 15px;
        width: 15px;
    }

    .slick-prev{
        left: 1%;
        transform: rotate(-135deg);
    }

    .slick-next{
        right: -2%;
        transform: rotate(45deg);
    }

    .slick-dots{
        margin: 0 auto;
        text-align: center;
        margin-right: 4.5em;
        margin-top: 2em;
    }

    .slick-dots li{
        display:inline-block;
        margin:0 5px;
    }

    .slick-dots button{
        margin: 0 auto;
        color: transparent;
        outline: none;
        width:8px;
        height:8px;
        display:block;
        border-radius:50%;
        background:#ccc;
        cursor: pointer;
    }

    .slick-dots .slick-active button{
        background:#333;
    }

    .menuIntroduction{
        margin-top: 3em;
        p{
            text-align: center;
            font-family: 'Noto Serif JP', serif;
            font-size: 14px;
            a{
                border: solid black 1px;
                padding: 1em 3em;
                transition: 0.5s;
            }
            a:hover{
                background-color: black;
                color: white;
            }
        }
    }
}
.subContents{
    width: 100vw;
    height: 100vh;
    position: relative;
    .subBg{
        background-image: url(../img/background-2941794_1920.jpg);
        margin: 0 auto;
        width: 80%;
        height: 80%;
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 20%;
        right: 0;
        z-index: -1;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .sub{
        margin: 0 auto;
        width: 50%;
        height: auto;
        position: absolute;
        top: 45%;
        left: 0;
        background-color: #ffffff9f;
        backdrop-filter: blur(10px);
        h3{
            margin-top: 3em;
            text-align: center;
            font-family: 'Noto Serif JP', serif;
            font-size: 24px;
            letter-spacing: 3px;
            font-weight: 500;
        }
        p{
            text-align: center;
            font-family: 'Noto Serif JP', serif;
        }
        .TEL{
            font-size: 20px;
            letter-spacing: 2px;
            margin-top: 1.5em;
        }
        .time{
            font-size: 14px;
            letter-spacing: 1px;
        }
        .subIntroduction{
            margin: 4em auto;
            p{
                text-align: center;
                font-family: 'Noto Serif JP', serif;
                font-size: 14px;
                a{
                    border: solid black 1px;
                    padding: 1em 5em;
                    transition: 0.5s;
                }
                a:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
.Blog{
    width: 100%;
    height: auto;
    margin: 10em auto;
    h2{
        font-family: 'Great Vibes', cursive;
        font-size: 32px;
        text-align: center;
        margin: 1.5em auto;
        letter-spacing: 5px;
        font-weight: 500;
    }
    .BlogContents{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: auto;
        .BlogIntroduction{
            margin: 0 auto;
            height: auto;
            width: 25%;
            height: auto;
            margin: 2em;
            img{
                margin: 0 auto;
                width: 100%;
                height: auto;
                transition: 0.3s;
            }
            img:hover{
                opacity: 0.5;
            }
            p{
                font-family: 'Noto Serif JP', serif;
                letter-spacing: 1px;
                margin: 0 auto;
            }
            .uptime{
                font-size: 12px;
                font-weight: 600;
                color: #666;
                // margin-left: 1em;
                margin: 0.5em auto;
                border-left: solid #666 2px;
                padding-left: 0.5em;
            }
            .text{
                font-size: 14px;
                margin-left: 0.5em;
            }
        }
    }
    .Bloglink span:first-child {
        position: relative;
        transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 10;
      }
      
      .Bloglink span:last-child {
        color: white;
        display: block;
        position: absolute;
        bottom: 0;
        transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 100;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translateY(225%) translateX(-50%);
        height: 14px;
        line-height: 13px;
      }
      
      .Bloglink:after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        transform-origin: bottom center;
        transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
        transform: skewY(9.3deg) scaleY(0);
        z-index: 50;
      }
      
      .Bloglink:hover:after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
      }
      
      .Bloglink:hover span:last-child {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
      }
}
footer{
    height: auto;
    margin: 0 auto;
    position:absolute;
    width: 100%;
    z-index: 999;
    h1{
        text-align: center;
        font-family: 'Great Vibes', cursive;
        font-size: 28px;
        letter-spacing: 3px;
        font-weight: 500;
        color: #333;
    }
    .footer_Top{
        margin: 0 auto;
        width: 80%;
        border-top: solid #eeeeee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3em 0;
        .footer_nav{
            display: flex;
            p{
                margin-right: 1em;
                font-size: 12px;
                border-left: solid #cecece 1px;
                padding-left: 1em;
                a{
                    color: #6D6D6F;
                    transition: 0.5s;
                }
                a:hover{
                    opacity: 0.5;
                }
            }
        }
        ul{
            display: flex;
            width: auto;
            li{
                margin-left: 1.5em;
                font-size: 12px;
            }
            a{
                color: #6D6D6F;
                transition: 0.5s;
            }
            a:hover{
                opacity: 0.5;
            }
        }
    }
    .footer_bottom{
        background-color: #f5f5f5;
        margin: 0 auto;
        padding: 0.3em 0;
        .footer_contents{
            margin: 0 auto;
            width: 80%;  
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footer_list{
                display: flex;
                align-items: center;
                p{
                    margin-right: 1em;
                    font-size: 12px;
                    a{
                        color: #6D6D6F;
                        transition: 0.5s;
                    }
                    a:hover{
                        opacity: 0.5;
                    }
                }
            }
            p{
                color: #6D6D6F;
                font-size: 12px;
            }
        }
    }
}
button{
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.link{
    margin: 2em auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding: 1em 3em;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 14px;
    }
    .text{
        font-family: 'Noto Serif JP', serif;
    }
    .text_more{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
}
.link span:first-child{
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}
.link span:last-child{
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}
.link:after{
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}
.link:hover:after{
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}
.link:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}